<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/viewcart.css">
    <link rel="stylesheet" href="css/global.css">
    <title>Carrinho</title>
</head>

<body>

    <h1> Carrinho </h1>
    <h2>Sabor          Ingredientes            Valor</h2>
    <div class="container_item">
        <% for (i=0; i < carrinho.length; i++) { %>

<div class="item">
   <font size="3" ><strong>Pedido #<%=i+1%></strong></font> <img src="<%= carrinho[i].img %>"><br>  <strong>Sabor: </strong> <%=carrinho[i].sabor %>  <br> <strong>Tamanho:</strong> Grande <br> <strong>Ingredientes:</strong> <%=carrinho[i].ingredientes %> 

   <br> <strong>Valor: </strong>R$<%=(carrinho[i].valor).toFixed(2) %>



<button type="submit" class="botao_item"><a href='/remover/<%=i%>'> <img src="img/trash-can.png" ></a></button>
</div>
                
                <% } %>
    </div>

</body>
<aside>
    <h1>Teste</h1>
</aside>
</html>